.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  h2 {
    color: #145dbd;
    padding: 1rem 1.5rem;
    font-size: 18px;
    letter-spacing: 0.2rem;
  }
  a {
    width: 100%;
    font-size: 14px;
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 0.15rem;
    padding: 0.5rem 1.5rem;
    font-weight: lighter;
    color: #aaa;
    &:hover {
      color: #fff;
    }
  }
  @media (max-width: 720px) {
    & {
      align-items: unset;
      a {
        text-align: center;
      }
    }
  }
}
